# macOS system files
.DS_Store
.Trash/
.localized

# Node & dependencies
node_modules/
npm-debug.log*

# Environment and user config
.env
.vscode/
.idea/
*.log

# Python, NVM, SSH, etc.
.pyenv/
.nvm/
.ssh/
.gk/
.zsh_sessions/
.zsh_history
.zprofile

# Other personal/system directories
Documents/
Downloads/
Music/
Movies/
Pictures/
Public/
Library/
Applications/

# Screenshots and images
*.png
*.jpg
*.jpeg
*.gif
*.svg
